.head1{
    color: black;
    font-size: 80px;
    margin-left: 40px;
    font-family: 'Roboto Black', arial;
    font-weight: lighter;
}
.head2{
    color: #4bcaff;
    font-size: 80px;
    font-family: 'Roboto Black', arial;
    font-weight: lighter;
}
.tool-bar{
    width: 1280px;
    height: 81px;
    background-color: #35444f;
    margin-left: 40px;
    padding-top: 20px;
    }
.main-menu{
    list-style-type: none;
    color: white;
    text-align: center;
    display: inline;
    padding-top: 36px;
    padding-left: 40px;
    padding-bottom: 39px;
    padding-right: 40px;
    font-size: 24px;
    font-family: 'Roboto Black', arial;
    }
.main-menu:hover {
    color: white;
    background-color: #222f3a;
    text-align: center;
    }
.main-menu:first-child {
    padding-left: 160px;
}
.main-menu:last-child {
    padding-right: 134px;
}
.logo{
    margin-top: 50px;
    margin-right: 40px;
    border: solid;
    border-color: #35444f;
    width: 320px;
    height: 381px;
    padding-top: 75px;
    padding-right:260px;
    padding-bottom: 73px;
    padding-left: 297px;
    margin-left: 0px;
    position: relative;
    left: 400px;
    bottom: 478px;
    }    
.fact-icons{
    width: 344px;
    height: 388px;
    border-color: #35444f;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    /*margin-left: 40px;*/
    padding-top: 15px;
        }
.menu{
    list-style-type: none;
    color: #485863;
    width: 240px;
    height: 30px;
    background-color: white;
    text-align: left;
    font-size: 29px;
    padding-top: 22px;
    padding-left: 25px;
    padding-bottom: 22px;
    padding-right: 10px;
    font-family: 'Roboto Black', arial;
    }
.menu:hover {
    color: black;
    background-color: #dbdbdb;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 53.5px;
    padding-right: 50px;
    }
.all-page{
        display: inline;
        list-style-type: none;
    }

p{
    text-align: justify;
    font-size: 18px;
    width: 820px;
    height: 109px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    line-height: 24px;
    font-family: 'Roboto Black', arial;
    color: #3a3a3a;
    position: relative;
    left: 440px;
    bottom: 475px;

}
.last-menu{
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    margin-left: 40px;
    padding-top: 23px;
    position: relative;
    bottom: 430px;
    }
.last-content{
    list-style-type: none;
    color: black;
    text-align: center;
    display: inline;
    padding-top: 26px;
    padding-left: 10px;
    padding-bottom: 26px;
    padding-right: 10px;
    font-size: 25px;
    font-family: 'Roboto Black', arial;
    }
    .last-content:hover{
        color: #3181a6;
        text-decoration: underline;
        text-align: center;
        padding: 10px;
        }
    .last-content:last-child{
        text-decoration: none;
        color: black;
        text-align: right;
        padding: 40px;
        margin-left: 90px;
        }
