.main-menu
{
    width: 1280px;
    height: 836px;
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto Black', arial;
}
.head-menu{
    color: #26a68d;
    float: left;
    padding: 30px;
    overflow: auto;
    margin-left: 120px;
    font-family: 'Roboto Black', arial;
    font-size: 22px;
    font-weight: bold;
    
}
.head{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Black', arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 55px;
}
.basis-text{
    text-align: center;
    text-indent: 20px;
    font-family: 'Roboto Black', arial;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    line-height: 24px;
}
.get-started{
    text-align: center;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    color: white;
    font-family: 'Roboto Black', arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 5px;
    }
.background{
    padding: 10px;
    background-color: #f5f6f7;
    width: 1280px;
    height: 550px;
    margin-top: 0px;
}
.copyright{
    text-align: right;
    font-family: 'Roboto Black', arial;
    padding-top: 40px;
    padding-right: 104px;
    width: 1280px;
    height: 108px;
    background-color: white;
}