:root{
    --font-roboto: 'Roboto', sans-serif;
    font-size: 18px;
}

body{
    background-color: #8c0a0d;
    width: 1300px;
    height: 829px;
    padding: 0 65px;
    margin: 0;
}

a:link, a{
    color: #ffe394;
    text-decoration: none;
    text-transform: uppercase;
}
header{
    width: 100%;
    height: 70px;
}

header > div, header li,header nav{
    float: left;
}

div > a > img{
    padding: 1rem 0;
}

header > nav{
    width: 70%;
}

nav > ul{
    overflow: auto;
    list-style-type: none;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    margin: 0;
}

header li{
    margin: 0 .5rem;
    text-transform: uppercase;
}

header div.lang{
    font-size: 1rem;
    float: right;
    padding: 1.5rem 1rem;
}

header div.lang::before{
    content: '';
    background-image: url(../img/English@1X.png);
    width: 26px;
    height: 18px;
    display: inline-block;
    margin-right: .5rem;
}

