.head-title{
    width: 1600px;
    height: 900px;
    background-image: url(./img/Layer\ 21@1X\ \(1\).png);
}
.title{
    width: 831px;
    height: 129px;
    padding-left: 100px;
}
header p:first-child{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-top: 500px;
    padding-left: 100px;
}

.awesome{
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-left: 100px;
}
.we{
    font-size: 54px;
    color: #f1ad1d;
    text-transform: uppercase;
    font-weight: bold;
}
.make{
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
header div h1{
 width: 831px;
 height: 129px;
 border: 2px solid white;
 padding-top: 40px;
 padding-bottom: 1px;
 padding-left: 30px;
 opacity: 1;
 box-shadow: inset;
 background-color: #000; /* Чёрный фон */
 opacity: 0.70;
}
.bodyground{
    width: 1600px;
    height: 900px;
    background-image: url(./img/background@points.png);
}