:root{
    font-family: 'Roboto Black', arial;
    text-transform: uppercase;
}
table{
    border-style: solid;
    border-color:#3a4965;
    width: 1192px;
    height: 736px;
    border-width: 22px;
    border-collapse: collapse;
    text-align: center;
    color: #6f6f6f;
}
.part1{
    color: #484848;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.part2{
    color: #484848;
    font-size: 30px;
    font-weight: bold;
}
.line1{
    background-color: #fafafa;
}
.cost{
    background-color: #fafafa;
}
.pr1{
    font-size: 60px;
    font-weight: bold;
    float: left;
    padding-left:20px;
    color: #484848;
}
.pr2{
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    padding-right: 100px;
    color: #484848;
}
.pr3{
    font-size: 18px;
    padding-right: 30px;
    color: #484848;
}
TD{
    padding: 3px; /* Поля вокруг текста */
    box-shadow: 0 0 3px #cfcfcf;
   }
/*tr{
    box-shadow: none;
    border-bottom: none;
    border-top-style: none;
}*/
td.head1{
    background-color: #89c331;
    color: #ffffff;
}
td.head2{
    background-color: #f04a56;
    color: #ffffff;
}
td.head3{
    background-color: #20807c;
    color: #ffffff;
    font-size: 16px;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
    font-size: 16px;
}
.bandwidth, .support, .users{
    background-color: #e3e3e3;
    font-size: 16px;
}
.buy1{
    width: 77px;
    height: 13px;
    background-color: #89c331;
    margin: auto;
    color: #ffffff;
    padding-top: 16px;
    padding-right: 57px;
    padding-bottom: 10px;
    padding-left: 57px;
    text-align: center;
    border-radius:7px;
    border-bottom-color: #79b027;
    border-bottom-width: 8px;
    border-bottom-style: solid; 
}
.buy2{
    width: 77px;
    height: 13px;
    background-color: #f04a56;
    margin: auto;
    color: #ffffff;
    padding-top: 16px;
    padding-right: 57px;
    padding-bottom: 10px;
    padding-left: 57px;
    text-align: center;
    border-radius:7px;
    border-bottom-color: #df3a46;
    border-bottom-width: 8px;
    border-bottom-style: solid; 
}
.buy3{
    width: 77px;
    height: 13px;
    background-color: #20807c;
    margin: auto;
    color: #ffffff;
    padding-top: 16px;
    padding-right: 57px;
    padding-bottom: 10px;
    padding-left: 57px;
    text-align: center;
    border-radius:7px;
    border-bottom-color: #16736f;
    border-bottom-width: 8px;
    border-bottom-style: solid; 
}
.contact{
    background-color: #dddddd;
}
.contact-us{
    width: 110px;
    height: 13px;
    background-color:#484848;
    margin: auto;
    color: #ffffff;
    padding-top: 16px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-left: 41px;
    text-align: center;
    border-radius:7px;
    border-bottom-color: #404040;
    border-bottom-width: 8px;
    border-bottom-style: solid;
}
a {
    text-decoration:none;
}
div.st:before{
    content: '';
    background-image: url(../img1/@1X.png);
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-right: .5rem;
}
div.band:before{
    content: '';
    background-image: url(../img1/1@1X.png);
    width: 26px;
    height: 20px;
    display: inline-block;
    margin-right: .5rem;
}
div.email:before{
    content: '';
    background-image: url(../img1/2@1X.png);
    width: 24px;
    height: 20px;
    display: inline-block;
    margin-right: .5rem;
}
div.supp:before{
    content: '';
    background-image: url(../img1/3@1X.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: .5rem;
}
div.prod:before{
    content: '';
    background-image: url(../img1/4@1X.png);
    width: 23px;
    height: 22px;
    display: inline-block;
    margin-right: .5rem;
}
div.user:before{
    content: '';
    background-image: url(../img1/5@1X.png);
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: .5rem;
}