.third-part{
    color: gray;
    font-size: 10px;
    border-style: dotted;
    border-color:slateblue;
    width: 200px;
    height: 200px;
}
.bold-font
{
    font-weight: bold;
}
.link1 {
    color: black;
}
.link2 {
    color: black;
    font-style: italic;
}

.lesson-three-part1{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-size: 18px;
}
.bold-italic-font
{
    color: black;
    font-style: italic;
    font-weight: bold;
}
.link3{
    color: black;
    font-weight: bold;
}
.first-par{
    border-width: 2px;
    border-style: dashed;
    border-color:slateblue;
}
.second-par{
    border-width: 3px;
    border-style: dotted;
    border-color:rgb(90, 197, 205);
}
.third-par{
    border-width: 4px;
    border-style: solid;
    border-color:rgb(205, 90, 153);
}
.fourth-par{
    border-width: 5px;
    border-style: double;
    border-color:rgb(205, 151, 90);
}
.fifth-par{
    border-width: 6px;
    border-style: groove;
    border-color: rebeccapurple;
}
.sixth-par{
    border-width: 7px;
    border-style: ridge;
    border-color:greenyellow;
}
.seventh-par{
    border-width: 8px;
    border-style: inset;
    border-color:lightcoral;
}
.eighth-par{
    border-width: 9px;
    border-style: outset;
    border-color:seagreen;
}
.par1{
    background: seashell;
    width: 600px;
    
}
.par2{
    background-color: #ff11ff;
    width: 200px;
    height: 200px;
}
.par3{
    background-color: rgb(205, 151, 90);
    width: 800px;
    height: 100px;
}
.par4{
    background-color: rgba(141, 250, 400, 1);
    width: 400px;
    height: 200px;
}
.par5{
    background-image: url(https://www.kostyor.ru/images0/imagestales/t9_1.jpg);
    width: 600px;
    height: 500px;
}