body{
    display: flex; 
    align-items: center; 
    justify-content: center;
    overflow:auto;
    }
.main-box{
    background-color: #4daad2;
    width: 580px;
    height: 340px;
}
.input-window{
    text-align: center;
    background-color:white;
    border-width: 10px;
    border-color: #56a7c8;
    width: 350px;
    height: 245px;
    margin-top: 30px;
    margin-left: 110px;
    border-style: solid;
    box-shadow: 1px;
}
h3{
    width: 350px;
    height: 50px; 
    background-color:#f1f4f7;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 1px;
}
.first{
    margin-top: 10px;
    border-color: #f1f4f7;
    border-width: 3px;
    border-style: solid;
    width: 300px;
    height: 30px;
}
.inp{
    display: inline;
}
.last-el{
    color: white;
    font-weight: bold;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}
form button{
    border: 1px solid #5b7780;
    border-radius: 25px;
    border-radius: 3px;
    background-color: #d4e6ee;
    font-weight: bold;
    color: #5b7780;
}
.second{
 margin-top: 30px;
 }