body{
display: flex; 
align-items: center; 
justify-content: center;
overflow:auto;
}
.header1{
position: absolute;
top: 0px;
background: #fff;
padding: 7px 5px;
color: blue;
font-weight: bold;
}
.header2 {
    top: 130px;
    position: absolute;
    background: #fff;
    padding: 0px 5px;
    color: blue;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
.right{
    text-align:right;
    clear:both;
}
.right1{
    text-align:right;
    clear:both;
    font-weight: bold;
}
.left{
    text-align: left;
    clear:both;
}
td{
    padding-top: 8px;
    overflow: auto;
}
.header1:before {
	content: '';
    display: inline-block;
    width: 30px;
	height: 3px;
    background: gray;
    margin: 3px;
}
.header1:after {
	content: '';
    display: inline-block;
    width: 140px;
	height: 3px;
    background: gray;
    margin: 3px;
}
.header2:before{
	content: '';
    display: inline-block;
    width: 30px;
	height: 3px;
    background: gray;
    margin: 3px;
}
.header2:after {
	content: '';
    display: inline-block;
    width: 230px;
	height: 3px;
    background: gray;
    margin: 3px;
}