@font-face {
    font-family: Verdana;
    src: url(../Fonts/Verdana.ttf);

}

body {
    width: 1366px;
    height: 768px;
    background-image: url(./background@1X.png), url(./background@1X\ overlay.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0
}

/* Header */
header {
    width: 1066px;
    height: 46px;
    padding-top: 49px;
    margin: 0 auto;
}
#logo {
    float: left;
    position: relative;
    width: 46px;
    height: 44px;
    color: white;
    background-image: url(./logo@1X.png);
}
#milan, #holidays{
    position: relative;
    float:left;
    margin-top: -9px;
    margin-left: 60px;
    font-family: Verdana, Courier;
    font-weight: bolder;
    text-align: left;    
}
#milan {
    font-size: 25pt;
}
#holidays {
    font-size: 14pt;
    padding: 2px;
    text-align: center;
    letter-spacing: 1.5px;
}
#contacts {
    position: relative;
    float: right;
    font-family: Verdana, Courier;
    font-weight: normal;
    font-size: 12pt;
    color: white;
    margin-top: 0;
}  



/* Container */

.container_outer {
    width: 1196px;
    height: 545px;
    margin: 0 auto;
}
.container_inner {
    width: 313px;
    height: 243px;
    float: left;
    position: relative;
    top: -10px;
    margin-top: 55px;
    margin-left: 65px;
}

/* Images*/

.gradient {
    width: 309px;
    height: 202px;
    background-image: linear-gradient(to top, black, white);
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 8px 15px 6px #020101
} 
#shopim, #sightim, #foodim, 
#nightim, #artim, #walkim  {
    width: 307px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    top:1px;
}
#shopim {
    background-image: url(./shoppingtours.png);
}
#sightim {
    background-image: url(./sightseeingtours.png);
}
#foodim {
    background-image: url(./foodtours.png);
}
#nightim {
    background-image: url(./nightlife.png);
}
#artim {
    background-image: url(./artarchitecture.png);
}
#walkim {
    background-image: url(./walkingtours.png);
}


/* Subtitles */

.subtitles {
    font-family: Verdana, Courier;
    font-size: 18pt;
    color:white;
    text-align: center;
    position: relative;
    left: auto;
    top: -10px;
}
#subhover {
    font-family: Verdana, Courier;
    font-size: 18pt;
    color:white;
    text-align: center;
    position: relative;
    left: auto;
    top: 127px;
}

/* Hidden */

#hidback {
    visibility: hidden;
    width: 310px;
    height:  63px;
    background-color: #f26522;
    position: relative;
    top: 137px;
    left: -1px;
    margin: 0 auto;
}
.text_container {
    width: 273px;
    height: 34px;
}
a {
    text-decoration: none;
}
#arrow {
    width: 6px;
    height: 10px
}
#details {
    font-family: Verdana, Courier;
    font-size: 14pt;
    color: white;
    float: right;
    position: relative;
    top: 12px;
}
#from, #price {
    font-family: Verdana, Courier;
    color: white;
    position: relative;
    top: 8px;
    left: 21px;
}
#from {
    font-size: 10pt;
}
#price {
    font-size: 20pt
}
#arrow {
    width: 6px;
    height: 10px;
    background-image: url(./Arrow@1X.png);
    position: relative;
    left: 284px;
    top: -11px;
}


/* Hover */


#logo:hover {
    float: left;
    position: relative;
    width: 46px;
    height: 44px;
    background-image: url(./logo@1X\ \(1\).png);
    cursor: pointer;
    color: #f26522
}

#inner_container:hover :nth-child(1){
    cursor: pointer;
    visibility:visible;
}
#inner_container:hover :nth-child(2) {
    color: #f26522;
    cursor: pointer;
}



/* Copyright */

#copy {
    display: inline-block;
    width: 500px;
    font-family: Verdana, Courier;
    font-size: 12pt;
    color: white;
    position: relative;
    margin-left: 33%;
    margin-top: 40px;
}
