:root{
    font-family: 'Roboto Black', arial;
}

header > div {
    float: left;
}
.name{
    margin-top: -20px;
    margin-left: 70px;
    margin-bottom: 2px;
}
.logothype {
    width: 50px;
    height: 48px;
    margin-top: 49px;
    margin-left: 140px;
    float: left;
    color: white;
    position: relative;
    background-image: url(../img/logo@1X.png);
}
.logothype:hover {
    float: left;
    position: relative;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo@2X.png);
    cursor: pointer;
    color: #f26522
}
.name:hover{
    color: #f26522;
}
.head1{
    width: 105px;
    height: 22px;
    text-transform: uppercase;
    font-size: 1.7em;
    float: left;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0.3em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
    margin-left: 2px;
    }
.head2{
    width: 105px;
    height: 22px;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
    text-transform: uppercase;
    font-size: 1.1em;
    float: left;
}
.contact-link1{
    color: white;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-top: 0.3em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
    margin-left: 800px;
    float: left;
    font-size: 18px;
    width: 245px;
    height: 18px;
    text-align: right;
    position: relative;
}
.contact-link2{
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
    margin-left: 800px;
    float: left;
    font-size: 18px;
    width: 245px;
    height: 18px;
    text-align: right;
    position: relative;
}
.main-conteiner{
    width: 1296px;
    height: 545px;
    margin: 0 auto;
}
.conteiner {
    width: 313px;
    height: 243px;
    float: left;
    position: relative;
    top: -10px;
    margin-top: 55px;
    margin-left: 65px;
}

.gradient {
    width: 309px;
    height: 202px;
    background-image: linear-gradient(to top, black, white);
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 8px 15px 6px #020101
} 
.link1, .link2, .link3, 
.link4, .link5, .link6 {
    width: 307px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    top:1px;
}
.link1 {
    background-image: url(../img/Layer21@1X.png);
}
.link2 {
    background-image: url(../img/Layer22@1X.png);
}
.link3 {
    background-image: url(../img/Layer23@1X.png);
}
.link4 {
    background-image: url(../img/Layer24@1X.png);
}
.link5{
    background-image: url(../img/Layer25@1X.png);
}
.link6{
    background-image: url(../img/Layer26@1X.png);
}
/* .art, .bars, .walk, .food {

    font-size: 18pt;
    color:white;
    text-align: center;
    position: relative;
    left: 10px;
    top: 10px;
}*/
.shopping, .sightseen, .food, .bars, .art, .walk {
    font-size: 18pt;
    color:white;
    text-align: center;
    position: relative;
    left: auto;
    top: 147px;
}

/* Hidden */

.hidback {
    visibility: hidden;
    width: 310px;
    height:  63px;
    background-color: #f26522;
    position: relative;
    top: 137px;
    left: -1px;
    margin: 0 auto;
}
.text-container{
    width: 273px;
    height: 34px;
}
a {
    text-decoration: none;
}
.arrow {
    width: 6px;
    height: 10px
}
.details {
    font-family: Verdana, Courier;
    font-size: 14pt;
    color: white;
    float: right;
    position: relative;
    top: 12px;
}
.from, .price {
    font-family: Verdana, Courier;
    color: white;
    position: relative;
    top: 8px;
    left: 21px;
}
.from {
    font-size: 10pt;
}
.price {
    font-size: 20pt
}
.arrow {
    width: 6px;
    height: 10px;
    background-image: url(./Arrow@1X.png);
    position: relative;
    left: 284px;
    top: -11px;
}

.inner:hover :nth-child(1){
    cursor: pointer;
    visibility:visible;
}
.inner:hover :nth-child(2) {
    color: #f26522;
    cursor: pointer;
}



/* Copyright */

footer div {
    display: inline-block;
    width: 500px;
    font-size: 12pt;
    color: white;
    position: relative;
    margin-left: 33%;
    margin-top: 40px;
}
